/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: auto;
	margin-top: 60px;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin-top: 50px;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
	margin: 20px;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/********************PAGE LOGIN***************/
.body {
	background-color: #FFFEF8;
}
.formulaire {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 500px;
    padding-bottom: 200px
}
.formulaire #email,
.formulaire #password {
	width: 240px;
	height: 30px;
	margin: 5px 0px 20px 0px;
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.formulaire form {
	display: flex;
	flex-direction: column;
	padding: 50px;
}

.formulaire button {
	width: 150px;
	color: #FFF;
	font-family: Syne;
	font-size: 14px;
	height: 36px;
	border-radius: 60px;
	background: #1D6154;
	margin: 0 auto;
	cursor: pointer;
}

.mdp_oublie {
	color: #3D3D3D;
	cursor: pointer;
}
#portfolio #filters {
	justify-content: center;
	display: flex;
	gap: 20px;
}
#portfolio #filters button {
	width: 200px;
	margin-bottom: 40px;
	color: #1D6154;
	border: #1D6154 2px solid;
	background-color: #FFFEF8;
	font-family: Syne;
	font-size: 15px;
	height: 36px;
	border-radius: 60px;
	cursor: pointer;
}
#portfolio #filters button:hover {
	background-color: #1D6154;
	color: #FFFEF8;
}

/* modale */
.container_modal {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	background-color: #dbd8d8b7;
	width: 100%;
	height: 100%;
}
.container_modal .modal {
	background-color: white;
	width: 630px;
	height: 670px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: relative;
}
.croix {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}
.croix:hover {
	opacity: 0.5;
}

.container_modal .modal h3 {
	top: 50px;
	font-size: 25px;
}

.container_modal .modal button {
	font-family: 'Syne';
	color: white;
	background-color: #1D6154;
	width: 180px;
	height: 30px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
	margin: 20px;
	bottom: 0;
}

.container_modal .modal button:hover {
	color: #1D6154;
	background-color: white;
}

.logo_modifier {
	height: 15px;
	width: 15px;
	margin-left: 30px;
	margin-right: 10px;
	display: none;
}

.projet_btn {
	display: flex;
    justify-content: center;
    align-items: baseline;
}

.modifier_btn{
	cursor: pointer;
}

/* mode edition top */

.edition_mode {
	display: none;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: #FFF;
	position: fixed;
	height: 60px;
	width: 100%;
	top: 0;
}

.edition_mode .modifier_top {
	width: 15px;
	height: 15px;
	fill: #FFF;
	margin-right: 10px;
}

.formulaire_p {
	color: red;
}

.affichage_modal {
	width: 500px;
	height: 400px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 20px;
}

.affichage_modal figure img {
	width: 100%;
	height: 100%;
}

figure span {
	position: relative;
}

figure span .svg_trash {
	position: absolute;
	width: 10px;
	height: 12px;
	background-color: black;
	padding: 4px;
	cursor: pointer;
	left: 60px;
	margin: 3px;
}

/* modal ajout d'image */

.container_modal_ajout {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	background-color: #dbd8d8b7;
	width: 100%;
	height: 100%;
}

.container_modal_ajout .modal_ajout {
	background-color: white;
	width: 630px;
	height: 670px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

.container_modal_ajout .modal_ajout h3 {
	margin-top: 40px;
	font-size: 25px;
}
.modal_ajout .arrow_back {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 20px;
	left: 20px;
	cursor: pointer;
}

.modal_ajout .ajout_image {
	background-color: #E8F1F6;
	width: 70%;
	height: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}
.modal_ajout .ajout_image .ajouter_photo {
	width: 80px;
	height: 60px;
	margin-bottom: 10px;
}

.modal_ajout p {
	font-size: x-small;
	margin-top: 10px;
}
.modal_ajout .formulaire_ajout_img {
	width: 70%;
	height: 30%;
	flex-direction: column;
	align-items: center;
	border-bottom: #bab4b4 1px solid;
}

.formulaire_ajout_img h4 {
	height: 20px;
	font-size: medium;
}
.formulaire_ajout_img input {
	width: 98%;
	height: 40px;
	margin-bottom: 20px;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;
}

.formulaire_ajout_img .categorie {
	width: 100%;
	height: 47px;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;
}

.modal_ajout .valider_ajout_img {
	width: 210px;
	height: 30px;
	border-radius: 50px;
	background-color: rgb(161, 160, 160);
	color: white;
	border: none;
	font-size: small;
	margin-bottom: 50px;
	margin-top:  0px;
	cursor: pointer;
}

.btn_ajouter_photo {
    width: 170px;
	height: 35px;
	border: none;
	border-radius: 40px;
	background-color: #B9C5CC;
	color: #306685;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: small;
}

.btn_ajouter_photo:hover {
    box-shadow: 0px 4px 14px 0px #00000017;
}

.btn_ajouter_photo input[type='file'] {
    display: none;
}

.close {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.close:hover {
	opacity: 0.5;
}